body{
    background-color: #6200EE;
}

/* navbar */

.navbar {
    background-color: #3700B3;
    color:white;
    display:flex;
    position:absolute;
    top: 0;
    width: 100%;
    padding:1em;
}

/* other content */

.App{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 800px;
    width: 90%;
    min-height: 600px;
    background: white;
    text-align: center;
    border-radius: 6px;
    margin: 128px auto;
    padding-bottom: 32px;
}


.todo-row{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 6px;
    white-space: pre-wrap;
    text-align: left;
    margin: 11px;
    margin-left: 32px;
    width: 25%;
    height: 100px;
    box-shadow: 4px 4px 10px  #6d61db;
    padding: 16px;
    background: linear-gradient(90deg, rgb(137, 137, 233) 0%,
    rgb(61, 89, 228) 100%);
    transition: transform .5s;
}

.todo-row:nth-child( 4n+1 ){
    background: linear-gradient(90deg, rgb(120, 175, 159) 0%,
    rgb(91, 133, 121) 100%);
    box-shadow: 4px 4px 10px #476b53;
}

.todo-row:nth-child(4n+2){
    background: linear-gradient(90deg, #eb7a93 0%,
    #c74a65 100%);
    box-shadow: 4px 4px 10px #913a4b;
}

.todo-row:nth-child(4n+3){
    background: linear-gradient(90deg, rgb(226, 163, 105) 0%,
    rgb(185, 135, 87) 100%);
    box-shadow: 4px 4px 10px rgb(177, 120, 66);
}


.todo-row:hover{
    /* -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); */
    transform: scale(1.11);
}

.icons{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    cursor: pointer;
}

.edit-icon{
    margin-left: 3px;
}

.edit-icon:hover{
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.delet-icon:hover{
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.todo-form{
    margin-bottom: 24px;
}

.todo-form.update{
    margin: auto;
    
}

.todo-input{
    background: #646981;
    outline: none;
    border: 2px solid #5167e4;
    border-radius:4px 0px 0px 4px;
    padding: 14px 32px 14px 16px;
    width: 340px;
    color: white;
}
.todo-input::placeholder{
    color: white;
}

.todo-input.edit{
    border:2px solid rgb(132, 180, 252);
    
}

.todo-button.edit{
    background-color: rgb(132, 180, 252);
    
}

.todo-button{
    background: #5e73dd;
    outline: none;
    border: none;
    padding: 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: white;
}

h2{
    color: white;
}

.todo-container{
    display: flex;
    flex-wrap: wrap;
}

/* .edit-text{
    width: 100%;
    display: grid;
} */

.todo-update{
    background: linear-gradient(90deg, rgb(137, 137, 233) 0%,
    rgb(61, 89, 228) 100%);
    box-shadow: 4px 4px 4px  #5d6dc0;
    padding: 10px;
    color: white;
    border-radius: 6px;
    width: 90%;
    margin-bottom: 5px;
    border: 2px solid #5167e4;

}

.todo-update::placeholder{
    color: rgb(173, 170, 170);
}

.update-button{
    color: white;
    background: #5e73dd;
    border-radius: 6px;
    cursor: pointer;
    margin: 2px auto;
    padding: 10px;
    outline: none;
    border: 1px solid #4556ad;
}



